$primary-bg-color:#121212;
$text-color-primary :#fff;
$text-color-sec :#000;
$sec-bg-color :#ffffff;
$unit-gap-main-sec: 0.5em;
$primary-ff:'Amaranth', sans-serif;
$sec-ff: 'Josefin Sans', sans-serif;
