@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans&family=Roboto:wght@300&display=swap');

.main-hero {
 background: url(https://blush.design/api/download?shareUri=2CC873ZoWCpGukho&c=New%2520Palette%25201_0%7E000000&bg=4e3d87&w=800&h=800&fm=png) no-repeat 100%;
 background-attachment: fixed;
 background-color: #4e3d87;
}

body {
 scroll-behavior: smooth;
}

p {
 color: aliceblue !important;
}